HTML,BODY {
    height: 100%;
    margin: 0;
    padding: 0;
}
BODY {
   font-family: Sans-serif;
   font-size: 14pt;
}

#background {
   box-shadow: inset 0 0 20px #333;
   background-color: slateblue;
   overflow: auto;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

#navigation{
   margin-top: 0px;
   background-color: #333;
   overflow: auto;
   list-style: none;
   position: fixed;
   width: 100%;
   opacity: .9;
}

#navigation LI {
    display: block;
    width: 10em;
    float: left;
}

#navigation LI A {

    color: #EEF;
}

#footer{
   position: fixed;
   bottom: 0;
   text-align: right;
   width: 100%;
   background-color: #333;
   color: white;
   opacity: .7;
}

#content {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   margin-top: 3em;
   margin-bottom: 3em;
   border-radius: 2em;
   padding: 1em 4em;
}

#content H1 {
    text-align: center;
}

#content #login_form {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

#content #login_form LABEL {
    width: 6em;
    display: block;
    float: left;
}

#content FORM UL{
    list-style: none;
}

#content FORM LI {
    overflow: auto;
    margin-bottom: 1em;
}

#content FORM LABEL {
    width: 12em;
    display: block;
    float: left;
}

#lifts_form TEXTAREA {
    width: 32em;
    height: 8em;
}

#content #do_password {
    float: left;
    display: block;
    margin-right: 2em;
}

#content #do_password_label {
    width: 20em;
    float: left;
}

#lifts_form FIELDSET {
    width: 33em;
    padding: 1em;
}

#lifts_form INPUT[type=text]{
   width: 80%;
}

#lifts_form {
   margin: 0 2em;
}

#content PRE.email_preview{
    border: 1px solid black;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}

