<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to LIFTS</title>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="css/style.css")}}' />
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="css/jquery-ui.css")}}' />
    <script src='{{url_for("static", filename="js/jquery.js")}}'></script>
    <script src='{{url_for("static", filename="js/jquery-ui.js")}}'></script>
    {% block additional_headers %}
    {% endblock %}
    <script src='{{url_for("static", filename="js/lifts.js")}}'></script>
    </head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
