<ul id=navigation>
  {% for name, link, description in [
    ("Home", url_for("index"), "Upload and send files"),
    ("Logout", url_for("logout"), "Exit the program")
    ]
    %}
    <li><a href="{{link}}" title="{{description}}">{{name}}</a></li>
  {% endfor %}
</ul>
