{% extends "base.jinja2" %}

{% block body %}
{% include "navigation.jinja2" %}
<div id="content">
<h1>File sent!</h1>

<p>The following email was sent to your recipients.  You should also receive a copy.</p>
<pre class='email_preview'>
{{email_text}}
</pre>
</div>
{% endblock %}
